<!DOCTYPE html>
<html  lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Magnaci i Czarodzieje</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <h1>Magnaci i Czarodzieje</h1>
    <h3><a th:href="@{/user/all?page=0&size=1000}">List of Users</a></h3>
    <h3><a th:href="@{/user/register}">Register</a></h3>
    <h3>Login</a></h3>
</div>

</body>
</html>